@font-face {
  font-family: "Gotham Bold";
  src: local("Gotham Bold"), url("../fonts/Gotham Bold/Gotham Bold.otf") format("otf"), url("../fonts/Gotham Bold/Gotham Bold.ttf") format("ttf"), url("../fonts/Gotham Bold/Gotham Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Book";
  src: local("Gotham Book"), url("../fonts/Gotham Book/Gotham Book.otf") format("otf"), url("../fonts/Gotham Book/Gotham Book.ttf") format("ttf"), url("../fonts/Gotham Book/Gotham Book.woff") format("woff");
}

@font-face {
  font-family: "Gotham Medium Regular";
  src: local("Gotham Medium Regular"), url("../fonts/Gotham Medium Regular/Gotham Medium Regular.otf") format("otf"), url("../fonts/Gotham Medium Regular/Gotham Medium Regular.ttf") format("ttf"), url("../fonts/Gotham Medium Regular/Gotham Medium Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url("../fonts/Open Sans Regular/Open Sans Regular.otf") format("otf"), url("../fonts/Open Sans Regular/Open Sans Regular.ttf") format("ttf"), url("../fonts/Open Sans Regular/Open Sans Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Italic";
  src: local("Open Sans Italic"), url("../fonts/Open Sans Italic/Open Sans Italic.otf") format("otf"), url("../fonts/Open Sans Italic/Open Sans Italic.ttf") format("ttf"), url("../fonts/Open Sans Italic/Open Sans Italic.woff") format("woff");
}

.header {
  background: url(../img/background-header.jpg);
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 1175px) {
  .header {
    padding: 0 15px;
  }
}

.header__menu-vrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

@media screen and (max-width: 600px) {
  .header__menu-vrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.header__icons .fa {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  color: #fff;
}

@media screen and (max-width: 815px) {
  .header__icons .fa {
    padding: 7px;
    margin: 0 7px;
  }
}

.header__icons .fa.fa-facebook {
  padding: 10px 14px;
}

@media screen and (max-width: 815px) {
  .header__icons .fa.fa-facebook {
    padding: 7px 11px;
  }
}

.header__icons .fa.fa-instagram {
  padding: 10px 12px;
}

@media screen and (max-width: 815px) {
  .header__icons .fa.fa-instagram {
    padding: 7px 9px;
  }
}

@media screen and (max-width: 975px) {
  .header__icons {
    width: 100%;
    text-align: center;
  }
}

.header__facebook, .header__twitter, .header__instagram {
  display: inline-block;
}

.header__facebook:hover .fa,
.header__twitter:hover .fa,
.header__instagram:hover .fa {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  border: 1px solid #000;
  color: #000;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 203px 0;
}

@media screen and (max-width: 975px) {
  .header__block {
    margin: 213px 0;
  }
}

.header__title {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  font-size: 69px;
}

@media screen and (max-width: 975px) {
  .header__title {
    font-size: 59px;
  }
}

@media screen and (max-width: 815px) {
  .header__title {
    font-size: 49px;
  }
}

@media screen and (max-width: 715px) {
  .header__title {
    width: 90%;
    text-align: center;
  }
}

.header__text {
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 5px;
  font-size: 18px;
}

@media screen and (max-width: 975px) {
  .header__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 815px) {
  .header__text {
    font-size: 10px;
  }
}

@media screen and (max-width: 715px) {
  .header__text {
    width: 90%;
    text-align: center;
  }
}

.header__scroll {
  text-align: center;
}

.header__scroll .fa-angle-down {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 13px 17px;
  margin-bottom: 55px;
}

@media screen and (max-width: 715px) {
  .header__scroll .fa-angle-down {
    padding: 11px 15px;
  }
}

.header__scroll .fa-angle-down:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  border: 1px solid #000;
  color: #000;
}

.menu {
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 600px;
}

@media screen and (max-width: 1065px) {
  .menu {
    width: 100%;
  }
}

.menu__img {
  display: none;
}

@media screen and (max-width: 975px) {
  .menu__img {
    display: block;
    display: inline-block;
    width: 35px;
    height: 3px;
    vertical-align: middle;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 6.5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
  }
  .menu__img::before, .menu__img::after {
    content: "";
    position: absolute;
    top: -9px;
    width: 35px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
  }
  .menu__img::after {
    top: 9px;
  }
}

@media screen and (max-width: 815px) {
  .menu__img {
    left: 55%;
  }
}

@media screen and (max-width: 600px) {
  .menu__img {
    -webkit-transform: translate(-127%, -50%);
            transform: translate(-127%, -50%);
    top: 20%;
  }
}

.menu__burger {
  width: 37px;
  height: 37px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 6.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__burger:checked ~ .menu__list {
  display: block;
  position: absolute;
  left: 50%;
  top: 22%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 375px;
}

@media screen and (max-width: 600px) {
  .menu__burger:checked ~ .menu__list {
    -webkit-transform: translate(-56%, -50%);
            transform: translate(-56%, -50%);
    top: 32%;
    width: 300px;
  }
}

@media screen and (max-width: 815px) {
  .menu__burger {
    left: 55%;
  }
}

@media screen and (max-width: 600px) {
  .menu__burger {
    -webkit-transform: translate(-127%, -50%);
            transform: translate(-127%, -50%);
    top: 20%;
  }
}

.list__ul-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item:hover {
  cursor: pointer;
}

.item:hover a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 975px) {
  .menu__list {
    display: none;
  }
}

.menu__list .list__ul-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  font-size: 15px;
  height: 28px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media screen and (min-width: 975px) and (max-width: 1110px) {
  .menu__list .list__ul-menu {
    margin: 0 29px;
  }
}

@media screen and (max-width: 975px) {
  .menu__list .list__ul-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
}

@media screen and (max-width: 975px) {
  .menu__list .item:hover {
    color: #344D48;
  }
}

@media screen and (max-width: 975px) {
  .menu__list li {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #000;
    background-color: #ffffff44;
  }
}

@media screen and (max-width: 1110px) {
  .projectTrade {
    padding: 0 15px;
  }
}

.projectTrade__content {
  height: 100%;
  color: #4b5562;
  padding-top: 100px;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.projectTrade__container {
  position: relative;
}

.projectTrade__title {
  position: relative;
  text-align: center;
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
}

.projectTrade__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #4b5562;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1110px) {
  .center {
    padding-top: 150px;
  }
}

@media screen and (max-width: 975px) {
  .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.center__gallery {
  position: relative;
}

@media screen and (max-width: 660px) {
  .center__gallery {
    width: 100%;
    height: 100%;
  }
}

.center__img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  position: relative;
  width: 100%;
}

.center__img.lake {
  top: 0;
  left: 0;
}

.center__img:hover {
  cursor: pointer;
}

@media screen and (min-width: 980px) {
  .center__img:hover {
    -webkit-transform: translate(-35.6%, -19.2%);
            transform: translate(-35.6%, -19.2%);
  }
}

.center__block {
  position: absolute;
  top: 200px;
  left: -225px;
  width: 630px;
  height: 470px;
  background-color: #55b7ff;
}

@media screen and (max-width: 1110px) {
  .center__block {
    height: 420px;
  }
}

@media screen and (max-width: 1110px) {
  .center__block {
    display: none;
  }
}

.center__block.burning {
  right: 0;
  bottom: 0;
}

.text {
  width: 50%;
  max-width: 460px;
}

@media screen and (max-width: 975px) {
  .text {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
    max-width: unset;
    text-align: center;
  }
}

@media screen and (min-width: 975px) and (max-width: 1110px) {
  .text {
    margin-left: 20px;
  }
}

.text__subtitle {
  font-size: 18px;
}

@media screen and (min-width: 975px) and (max-width: 1110px) {
  .text__subtitle {
    margin-top: 20px;
  }
}

.text__title {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  font-size: 37px;
}

.text__paragraph {
  font-family: "Open Sans Regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  padding: 25px 0;
  letter-spacing: 0.5px;
}

.text__location {
  margin-top: 30px;
}

.text__location.address {
  display: inline-block;
  font-size: 18px;
  font-family: "Open Sans Italic", Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 410px) {
  .text__location.address {
    font-size: 15px;
  }
}

.show_1 {
  padding: 19px 35px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  width: 173px;
  margin-top: 15px;
}

@media screen and (max-width: 975px) {
  .show_1 {
    margin: 0 auto;
  }
}

.show_1:hover {
  color: #fff;
  background-color: #55b7ff;
}

.textHidden_1 {
  display: none;
}

#text_1 {
  font-family: "Open Sans Regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 975px) {
  #text_1 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1110px) {
  .projectCommerce {
    padding: 0 15px;
  }
}

.projectCommerce__container {
  position: relative;
}

.projectCommerce__title {
  position: relative;
  text-align: center;
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
}

.projectCommerce__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #4b5562;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center {
  height: 100%;
  color: #4b5562;
  padding-bottom: 140px;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1110px) {
  .center {
    padding-top: 150px;
  }
}

@media screen and (max-width: 975px) {
  .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.center__gallery {
  position: relative;
}

@media screen and (max-width: 660px) {
  .center__gallery {
    width: 100%;
    height: 100%;
  }
}

.center__img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  position: relative;
  width: 100%;
}

.center__img.apartment {
  top: 0;
  left: 0;
}

.center__img:hover {
  cursor: pointer;
}

@media screen and (min-width: 980px) {
  .center__img:hover {
    -webkit-transform: translate(-35.6%, -19.2%);
            transform: translate(-35.6%, -19.2%);
  }
}

.center__block {
  position: absolute;
  top: 175px;
  right: -200px;
  width: 630px;
  z-index: 1;
  height: 470px;
  background-color: #7e5aff;
}

@media screen and (max-width: 1110px) {
  .center__block {
    height: 420px;
  }
}

@media screen and (max-width: 1110px) {
  .center__block {
    display: none;
  }
}

.center__block.burning {
  right: 0;
  bottom: 0;
}

.text1 {
  width: 50%;
  max-width: 460px;
}

@media screen and (max-width: 975px) {
  .text1 {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;
    max-width: unset;
    text-align: center;
  }
}

@media screen and (min-width: 975px) and (max-width: 1110px) {
  .text1 {
    margin-left: 20px;
  }
}

.text1__subtitle {
  font-size: 18px;
}

@media screen and (min-width: 975px) and (max-width: 1110px) {
  .text1__subtitle {
    margin-top: 20px;
  }
}

.text1__title {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  font-size: 37px;
}

.text1__paragraph {
  font-family: "Open Sans Regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  padding: 25px 0;
  letter-spacing: 0.5px;
}

.text1__location {
  margin-top: 30px;
}

.text1__location.address {
  display: inline-block;
  font-size: 18px;
  font-family: "Open Sans Italic", Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 410px) {
  .text1__location.address {
    font-size: 15px;
  }
}

.show_2 {
  padding: 19px 35px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  width: 173px;
  margin-top: 15px;
}

@media screen and (max-width: 975px) {
  .show_2 {
    margin: 0 auto;
  }
}

.show_2:hover {
  color: #fff;
  background-color: #7e5aff;
}

.textHidden_2 {
  display: none;
}

#text_2 {
  font-family: "Open Sans Regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.news {
  background: url(../img/background-news.jpg);
  background-size: cover;
  height: 100%;
  color: #4b5562;
}

.news__content {
  padding-bottom: 212px;
}

.news__container {
  max-width: 100% !important;
}

.news__title {
  position: relative;
  padding: 140px 0 100px 0;
  text-align: center;
  font-family: "Gotham Medium Regular", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  color: #fff;
}

.news__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  top: 115px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.n-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.n-slider__img {
  width: 100%;
}

.n-slider__text {
  background-color: #fff;
  width: 100%;
  padding: 25px 10px 8px 20px;
}

.n-slider__title {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  width: 100%;
  line-height: 27px;
  font-size: 18px;
  letter-spacing: 1px;
}

@media screen and (min-width: 900px) {
  .n-slider__title {
    height: 108px;
  }
}

.n-slider__paragraph {
  font-family: "Open Sans Regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  padding-top: 8px;
}

@media screen and (min-width: 900px) {
  .n-slider__paragraph {
    height: 74px;
  }
}

.n-slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 25px 0 30px 20px;
}

.n-slider__user {
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 20px;
}

.n-slider__name {
  padding: 14px 0 4px 0;
  font-size: 15px;
}

.n-slider__data {
  color: #55b7ff;
  font-size: 12px;
}

.slick-initialized {
  width: 1170px;
}

.slick-list {
  padding: 0 !important;
}

.draggable {
  width: 70%;
  max-width: 1170px;
}

.slick-track {
  width: 1170px;
}

.slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
}

.slick-slide {
  width: 370px;
}

.slick-arrow {
  position: relative;
  border: 1px solid;
  cursor: pointer;
  font-size: 0;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  color: #fff;
  margin: 0 5px;
}

@media screen and (min-width: 700px) {
  .slick-arrow {
    margin: 0 52px;
  }
}

.my-prev::after {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.my-next::after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  right: 13px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-48deg);
          transform: rotate(-48deg);
}

.n-slider__item {
  padding: 0 10px;
}

.n-slider__block {
  position: relative;
  color: #000;
}

.n-slider__block__item {
  position: relative;
}

.n-slider__block__img {
  height: 300px;
  width: 340px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.n-slider__block__img:hover {
  cursor: pointer;
  -webkit-filter: opacity(25%);
          filter: opacity(25%);
}

.n-slider__block__text, .n-slider__block__span {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.n-slider__block:hover .n-slider__block__text,
.n-slider__block:hover .n-slider__block__span {
  opacity: 1;
}

.n-slider__block__text {
  position: absolute;
  z-index: 2;
  font-size: 17px;
  font-weight: 700;
  width: 80%;
  letter-spacing: 1px;
  left: 30px;
  bottom: 40px;
}

.n-slider__block__span {
  position: absolute;
  z-index: 2;
  font-size: 10px;
  bottom: 20px;
  left: 84px;
}

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  list-style: none;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  left: 50%;
  bottom: -15%;
}

li {
  margin: 0 20px;
}

@media screen and (max-width: 700px) {
  li {
    margin: 0 5px;
  }
}

li #slick-slide-control00,
li #slick-slide-control01,
li #slick-slide-control02,
li #slick-slide-control03,
li #slick-slide-control04,
li #slick-slide-control05 {
  background: #fcfbfb00;
  border: 1px solid #fff;
  cursor: pointer;
  color: transparent;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 5px;
}

li.slick-active button {
  background-color: #fff !important;
}

.gallery__content {
  height: 100%;
  padding-top: 100px;
  font-family: "Gotham Medium Regular", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.gallery__title {
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  font-size: 35px;
  color: #4b5562;
  margin-bottom: 100px;
}

@media screen and (min-width: 980px) and (max-width: 1110px) {
  .gallery__title {
    margin-bottom: 50px;
  }
}

.gallery__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #4b5562;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

@media screen and (min-width: 980px) and (max-width: 1110px) {
  .gallery__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 980px) {
  .gallery__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
}

.gallery__one-photo {
  margin-right: 10px;
  position: relative;
}

@media screen and (max-width: 1110px) {
  .gallery__one-photo {
    margin-bottom: 7px;
    margin-right: 0;
  }
}

.gallery__img {
  position: relative;
}

@media screen and (max-width: 980px) {
  .gallery__img {
    width: 100%;
  }
}

.gallery__svg {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.gallery__img:hover {
  cursor: pointer;
}

.gallery__img:hover + .gallery__svg {
  opacity: 1;
}

.gallery__svg:hover {
  opacity: 1;
}

.two-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two-photo__top {
  margin-bottom: 7px;
}

.two-photo__left {
  margin-right: 5px;
}

.two-photo__right {
  margin-left: 5px;
}

@media screen and (max-width: 1170px) {
  .two-photo {
    width: 580px;
    margin-bottom: 7px;
  }
}

.button {
  text-align: center;
}

.button__more {
  padding: 20px 45px 10px 45px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0 auto;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.show_3 {
  padding: 19px 35px 9px 35px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  width: 173px;
  margin-top: 15px;
}

.show_3:hover {
  color: #fff;
  background-color: #55b7ff;
}

.gallery__three-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__three-photo img {
  width: 285px;
}

@media screen and (max-width: 1170px) {
  .gallery__three-photo {
    width: 580px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .gallery__three-photo img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1170px) and (max-width: 700px) {
  .gallery__three-photo {
    display: block;
    width: 100%;
    padding: 0 15px;
  }
  .gallery__three-photo img {
    width: 100%;
  }
}

.photos_show {
  display: none;
}

#logo {
  font-family: "Open Sans Regular", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.maps__container {
  max-width: unset !important;
}

.maps__content {
  margin-top: 140px;
}

#map {
  height: 700px;
}

.contact {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, -66%);
          transform: translate(-50%, -66%);
  height: 450px;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contact__container {
  background: url(../img/background-contact.jpg);
  background-size: cover;
}

.contact__content {
  width: 770px;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 800px) {
  .contact__content {
    width: 100%;
    padding: 60px 15px 0;
    background: #fff;
  }
}

.contact__title {
  position: relative;
  text-align: center;
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  margin-bottom: 50px;
  color: #4b5562;
}

.contact__title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #4b5562;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 65px;
}

@media screen and (max-width: 800px) {
  .contact__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.contact__f-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  width: auto;
}

.contact__f-block .form,
.contact__f-block .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}

.form__input {
  width: 310px;
  line-height: 30px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000;
  opacity: 0.6;
}

.form__input::-webkit-input-placeholder {
  color: #4b5562;
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  color: #4b5562;
  opacity: 1;
}

.form__input::-ms-input-placeholder {
  color: #4b5562;
  opacity: 1;
}

.form__input::placeholder {
  color: #4b5562;
  opacity: 1;
}

.form__input:hover {
  opacity: 1;
}

.form__input:focus {
  outline: none;
  opacity: 1;
}

.form__button {
  width: 140px;
  padding: 20px 0 10px 0;
  -webkit-transform: translateX(121%);
          transform: translateX(121%);
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin: 30px 0 80px 0;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  opacity: 0.3;
}

@media screen and (max-width: 800px) {
  .form__button {
    margin: 15px 0 25px;
  }
}

.form__button:hover {
  opacity: 1;
  color: #fff;
  background-color: #9982ee;
}

.info__title {
  display: inline-block;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #4b5562;
  font-size: 16px;
  margin-left: 5px;
}

.info__text {
  padding-bottom: 30px;
  color: #000;
}

.info__text .fa {
  color: #7e5aff;
}

.info__text .fa.fa-phone {
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
}

.footer {
  background: url(../img/background-footer.jpg);
  background-size: cover;
  height: 100%;
  font-family: "Gotham Book", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
}

.footer__container {
  max-width: 770px !important;
}

.footer__content {
  padding: 210px 0;
}

@media screen and (max-width: 800px) {
  .footer__content {
    padding-top: 243px;
    padding-bottom: 50px;
  }
}

.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

@media screen and (max-width: 800px) {
  .footer__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__icons .fa {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  color: #fff;
}

.footer__icons .fa.fa-facebook {
  padding: 10px 14px;
}

.footer__icons .fa.fa-instagram {
  padding: 10px 12px;
}

@media screen and (max-width: 800px) {
  .footer__icons {
    margin: 20px 0;
  }
}

.footer__text {
  font-size: 12px;
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text h4 {
    margin: 0 0 10px;
  }
}

.footer__title {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.footer__title::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  bottom: 1px;
  right: -10%;
}

@media screen and (max-width: 800px) {
  .footer__title::after {
    display: none;
  }
}

.footer__subtitle {
  display: inline-block;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */