$gotham_bold: "Gotham Bold", Arial, Helvetica, sans-serif;
$gotham_book: "Gotham Book", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$gotham_medium_regular: "Gotham Medium Regular", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$open_sans_regular: "Open Sans Regular", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$open_sans_italic: "Open Sans Italic", Verdana, Geneva, Tahoma, sans-serif;