@import "__mixins";
@import "__vars";

.header {
    background: url(../img/background-header.jpg);
    background-size: cover;
    height: 100vh;

    @media screen and (max-width: 1175px){
        padding: 0 15px;
    }

    &__menu-vrapper {
        @include FlexSpaceBetweenCenter();
        padding-top: 35px;

        @media screen and (max-width: 600px){
            flex-direction: column;
            height: 100%;
        }

        @media screen and (max-width: 975px){
            width: 65%;
        }
    }

    &__icons {

        .fa {
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 10px;
            margin: 0 10px;
            color: #fff;

            &.fa-facebook {
                padding: 10px 14px;

                @media screen and (max-width: 1066px){
                    padding: 7px 11px;
                }
            }

            &.fa-twitter {

                @media screen and (max-width: 1066px){
                    padding: 7px 7px;
                }

            }

            &.fa-instagram {
                padding: 10px 12px;

                @media screen and (max-width: 1066px){
                    padding: 7px 9px;
                }
            }

            @media screen and (max-width: 1066px){
                margin: 0 5px;
            }
        }

        @media screen and (max-width: 1066px){
            width: 25%;
            text-align: center;
        }

        @media screen and (max-width: 975px){
            display: none;
        }
    }

    &__facebook,
    &__twitter,
    &__instagram {
        display: inline-block;
    }

    &__facebook:hover .fa,
    &__twitter:hover .fa,
    &__instagram:hover .fa {
        transition: 1s;
        transform: rotate(360deg);
        border: 1px solid #000;
        color: #000;
    }

    &__block {
        @include FlexColumn();
        align-items: center;
        margin: 250px 0;

        @media screen and (max-width: 715px){
            margin: 235px 0;
        }

        @media screen and (max-width: 400px){
            margin: 210px 0;
        }
    }

    &__title {
        font-family: $gotham_bold;
        letter-spacing: 10px;
        font-size: 69px;

        @media screen and (max-width: 975px){
            font-size: 59px;
        }

        @media screen and (max-width: 815px){
            font-size: 49px;
        }

        @media screen and (max-width: 715px){
            width: 90%;
            line-height: 60px;
            text-align: center;
        }
    }

    &__text {
        font-family: $gotham_book;
        letter-spacing: 5px;
        font-size: 18px;
        padding-top: 30px;

        @media screen and (max-width: 975px){
            font-size: 12px;
        }

        @media screen and (max-width: 815px){
            font-size: 10px;
        }

        @media screen and (max-width: 715px){
            width: 90%;
            line-height: 20px;
            text-align: center;
        }
    }

    &__scroll {
        text-align: center;

        .fa-angle-down {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            padding: 13px 17px;
            margin-bottom: 55px;

            @media screen and (max-width: 715px){
                padding: 11px 15px;
            }
        }

        .fa-angle-down:hover {
            transition: 1s;
            transform: rotate(360deg);
            border: 1px solid #000;
            color: #000;
        }
    }
}


.menu {
    font-family: $gotham_book;
    width: 600px;

    @media screen and (max-width: 1065px){
        width: 100%;
    }

    &__img {

        display: none;

        @media screen and (max-width: 975px) {
            display: block;
            display: inline-block;
            width: 35px;
            height: 3px;
            vertical-align: middle;
            border-radius: 5px;
            position: absolute;
            right: 2%;
            top: 6.7%;
            background-color: #fff;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: -9px;
                width: 35px;
                height: 3px;
                background-color: #fff;
                border-radius: 5px;
            }

            &::after {
                top: 9px;
            }
        }
    }

    &__burger {
        width: 37px;
        height: 37px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        position: absolute;
        right: 2%;
        top: 4.5%;

        &:checked ~ .menu__list{
            display: block;
            position: absolute;
            right: 6%;
            top: 8%;
            z-index: 2;
            width: 250px;
        }
    }
}

.list {

    &__ul-menu {
        @include FlexSpaceBetween();
    }

    .item:hover a::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        bottom: 0;
        right: 0;
        background-color: #fff;
        cursor: pointer;
    }
    
    .item:hover  {

        &:last-child a::after{
           display: none;
        }
    }

    .item:last-child {
        height: auto;
        padding-bottom: 10px;
    }

    .item:last-child a:hover {
        color: #000;
    }
    
}

a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.menu__list {
    
    @media screen and (max-width: 975px) {
        display: none;
    }

    .list__ul-menu {
        
        @include FlexSpaceBetween();
        font-family: $gotham_book;
        letter-spacing: 1px;
        font-size: 15px;
        height: 28px;
        align-items: end;

        @media screen and (min-width: 975px) and (max-width: 1110px) {
            margin: 0 25px;
        }

        @media screen and (max-width: 975px) {
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            padding: 20px 0;
        }
    }

    .links {
        display: none;

        &__icons {
            display: flex;
            justify-content: space-around;
        }

        @media screen and (max-width: 975px) {
            display: block;
        }
    }

    .item:hover {

        @media screen and (max-width: 975px) {
            color: #344D48;
        }
    }

    li {

        @media screen and (max-width: 975px) {
            width: 100%;
            padding: 10px;
            text-align: center;
            color: #000;
            background-color: #ffffff44;
        }
    }
}